<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kids Book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/style.css" />
  </head>

  <body class="{{#if isEven}}section-even{{else}}section-odd{{/if}}">
  {{#if isImage}}
    <img class="section-image" src="{{content}}" />
  {{else}}
    <article>
      {{{ content }}}
    </article>
  {{/if}}
</body>
</html>
